$color-primary: #222222;
$color-secondary: #14c8f0;
$color-success: #3adb76;
$color-alert: #cc4b37;
$color-warning: #cc8b00;
$color-dark: #333;
$color-light: #f8f8f8;
$color-white: #fff;
$color-grey: #6a7376;
$color-light-grey: #b2b2ae;
$color-blue: #1c8ece;
$color-border-gray: #d1d1d1;
$color-textfield-gray: #888888;



$body-font-family: 'Ubuntu', sans-serif;
$body-font-size: 16px;

$heading-font-family: 'Ubuntu', sans-serif;

$paragraph-font-family: 'Ubuntu', sans-serif;
$paragraph-font-size: 24px;
$paragraph-line-height: 1.55;
$paragraph-color: $color-grey;
$paragraph-font-weight: 300;

$button-font-family: 'Ubuntu', sans-serif;


/* FOUNDATION VARIABLES */
$grid-container: 1440px;

$foundation-palette: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $color-success,
  warning: $color-warning,
  alert: $color-alert,
) !default;

$button-background: $color-primary;
$button-radius: 3px;
$button-sizes: (
    tiny: 0.6rem,
    small: 0.75rem,
    defaut: 14px, // default: 0.9rem,
    large: 1.25rem
) !default;
$button-padding: 1.5em;
$button-font-weight: 500 !default;

$input-shadow: none;