.header{
	position: absolute;
	top: 0px;
	left: 0px;
    width: 100%;
    min-height: 109px;
	z-index: 99;
    background-color: $color-white;
    padding: 0 25px;
    
	// .row{
	// 	max-width: 100%;
    // }
    
    .left-col{
        display: flex;
        align-items: center;
    }

    .right-col{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

	.option-menu{
        flex: 0 0 30px;
		width: 30px;
        height: 21px;
        display: block;
		// float: left;
        // margin: 46px 0 0 35px;
        margin: 0;
        background: url("../img/icn-feather-menu.svg") no-repeat;
        background-size: 100%;
	}

	.s-icon{
        flex: 0 0 27px;
		width: 27px;
        height: 27px;
        display: block;
		background: url("../img/icn-search.svg") no-repeat;
        background-size: 100%;
		// float: left;
        // margin: 41px 0 0 56px;
        margin: 0 0 0 56px;
	}

	.sale{
        display: block;
		// float: left;
        // margin: 46px 0 0 56px;
        margin: 0 0 0 56px;
		font-size: 16px;
        font-style: italic;
        white-space: nowrap;

		.lbl{
			color: #888;
		}

		.val{
			&:before{
				content: " ";
				display: inline-block;
				width: 27px;
				height: 0px;
				border: solid 0.5px #222222;
				margin: 0 12px;
				vertical-align: middle;
			}

			color: #888;

			.lbl2{
				color: #222;
			}

			strong{
				color: #14c8f0;
			}
		}
	}

	a.logo{
		margin: 0 auto;
		display: block;
        max-width: 110px;
        padding:5px 10px 0;
        background: $color-primary;
    }

    .m-menu{
        display: block;
        padding: 0px;
        // margin: 43px auto 0;
        margin: 0 0 0;
        list-style: none;
        
        li{
            display: inline-block;
            // position: relative;
            margin-right: 55.5px;
            
            a{
                color: #222;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: none;
                padding: 42px 0;
                display: block;
            }
            
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .woo-acc{
        padding: 0px;
        // margin-left: 51.6px;
        margin: 0 0 0 52px;
        display: block;
        list-style: none;
        
        li{
            display: inline-block;
            vertical-align: middle;
            
            a{
                display: inline-block;
            }
            
            a.acc{
                width: 29.37px;
                height: 34.148px;
                background: url("../img/icn-account.svg") no-repeat;
                background-size: 100%;
                margin-right: 46px;
            }
            
            a.mini-cart{
                width: 29px;
                height: 32px;
                background: url("../img/icn-shopping-bag.svg") no-repeat;
                background-size: 100%;
                // margin-right: 35px;
                position: relative;
                
                .item-c{
                    position: absolute;
                    width: 30px;
                    height: 20px;
                    text-align: center;
                    top: -10px;
                    right: -15px;
                    
                    span{
                        color: #fff;
                        position: relative;
                        z-index: 9;
                    }
                    
                    &:before{
                        content: " ";
                        left: 0px;
                        top: 2px;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        opacity: 0.9;
                        border-radius: 10px;
                        box-shadow: -5px 6px 10px 0 rgba(0, 0, 0, 0.15);
                        background-color: #05c7f2;
                    }
                }
            }
        }
    }
    

    &.fixed{
        position: fixed;
        // box-shadow: 0 1px 5px 1px rgba(0,0,0,.1);
        animation: 0.6s ease headerIn forwards;
    }

    .mega-menu-wrap{
        flex-grow: 1;
        position: static !important;
        background-color: transparent !important;

        .mega-menu-toggle{
            display: none !important;
        }

        .mega-menu{
            position: static !important;
            display: flex !important;
            justify-content: flex-end;

            .mega-menu-link{
                height: auto !important;
                line-height: 1 !important;
                padding: 0 !important;
                color: $color-dark !important;
                font-weight: 500 !important;
                text-transform: uppercase !important;
                background-color: transparent !important;
                font-size: 16px !important;
                outline: none !important;
            }

            .mega-sub-menu{
                float: none !important;
                *zoom: 1;

                &:before, &:after{
                    content: '' !important;
                    display: table !important;
                }

                &:after{
                    clear: both !important;
                }

                .mega-menu-item{
                    h4{
                        font-family: 'Roboto', sans-serif !important;
                        font-size: 20px !important;
                        color: $color-light-grey !important;
                        margin-bottom: 30px !important;
                    }

                    .menu{
                        flex-direction: column;

                        li{
                            a{
                                font-family: 'Roboto', sans-serif;
                                font-size: 14px;
                                color: #ffffff;
                                text-transform: uppercase;
                                padding: 0;
                                margin-bottom: 20px;

                                &:hover{
                                    color: $color-blue;
                                }
                            }
                        }
                    }
                }
            }

            .mega-menu-row{
                & > .mega-sub-menu{
                    max-width: 1520px !important;
                    margin: 0 auto !important;
                }
            }

            & > li{
                margin-right: 55.5px !important;

                &:last-child{
                    margin-right: 0 !important;
                }

                & > .mega-menu-link{
                    padding: 46px 0 !important;
                    position: relative !important;

                    &:before{
                        content: '' !important;
                        display: block !important;
                        width: 0 !important;
                        height: 0 !important;
                        border-left: 8px solid transparent !important;
                        border-right: 8px solid transparent !important;
                        border-top: 10px solid $color-blue !important;
                        position: absolute !important;
                        bottom: 20% !important;
                        left: 50% !important;
                        transform: translateX(-50%);
                        display: none !important;
                    }
                }

                &.mega-toggle-on > .mega-menu-link{
                    &:before{
                        display: block !important;
                    }
                }

                & > .mega-sub-menu{
                    background-color: $color-dark !important;
                    padding: 58px 0 0 !important;
                }
            }

            .ivtherapy-nav-item{
                display: flex;
                align-items: center;
                margin-bottom: 5px;
    
                .icon{
                    width: 24px;
                    height: auto;
                    margin-right: 15px;

                    svg{
                        width: 100%;
                        height: auto;
                    }
                }
    
                .text{
                    display: block;
                    font-size: 24px;
                    font-weight: bold;
                    font-style: normal;
                    text-transform: uppercase;
    
                    img{
                        display: block;
                        width: 60px;
                        height: auto;
                    }
                }
            }

            .menu-desc{
                background-image: url(../img/toka-logo-mega-menu.svg) !important;
                background-repeat: no-repeat !important;
                background-position: right bottom !important;
                background-size: initial !important;
                max-width: 100% !important;
                min-height: 160px !important;

                .textwidget{
                    max-width: 586px;
                    margin: 0 0 0 auto;

                    p{
                        color: $color-light-grey;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    @include media(max-width, 1640px){
        .s-icon, .sale{
            margin-left: 35px;
        }
    }

    @include media(max-width, 1536px){
        padding: 0 15px;

        .s-icon, .sale{
            margin-left: 25px;
        }

        .sale{
            font-size: 14px;

            .val{
                &:before{
                    width: 20px;
                    margin: 0 8px;
                }
            }
        }

        .woo-acc{
            li{
                a.acc{
                    margin-right: 25px;
                }
            }
        }
    }

    @include media(max-width, 1280px){
        .sale{
            white-space: normal;
        }

        .m-menu{
            li{
                margin-right: 25px;
            }
        }

        .woo-acc{
            margin-left: 25px;
        }
    }

    @include media(max-width, 1200px){
        .mega-menu-wrap{
            .mega-menu{
                & > li{
                    margin-right: 20px !important;
                }
            }
        }
    }

    @include media(max-width, 1072px){
        .m-menu{
            li{
                margin-right: 15px;
            }
        }
    }

    @include media(max-width, 1023px){
        padding-top: 31px;

        .sale{
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            margin: 0;
            padding: 5px 10px;
            text-align: center;
            background-color: $color-primary;
            color: #fff;

            .lbl, .val{
                color: $color-light-grey;
            }

            .val{
                .lbl2{
                    color: #fff;
                }
            }
        }

        .mega-menu-wrap{
            position: fixed !important;
            bottom: 0 !important;
            left: 0 !important;
            width: 100% !important;
            background: $color-primary !important;
            z-index: 20 !important;
            text-align: center !important;
            padding: 0 10px !important;

            .mega-menu{
                & > li{
                    flex: 1;
                    margin: 0 !important;

                    & > .mega-menu-link{
                        padding: 25px 15px !important;
                        text-align: center !important;
                        font-size: 13px !important;
                        color: #fff !important;
                    }

                    &.mega-toggle-on{
                        & > .mega-menu-link{
                            &:before{
                                display: none !important;
                            }
                        }
                    }
                }
            }

            .mega-sub-menu{
                display: none !important;
            }
        }
    }

    
    @include media(max-width, 639px){
        .sale{
            font-size: 10px;
            padding: 8px;
        }

        .left-col{
            justify-content: space-between;
        }

        .woo-acc{
            margin: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}


.sidebar-menu-wrap{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease all;

    &.in{
        z-index: 9999;
        visibility: visible;
        opacity: 1;

        .sidebar-menu{
            transform: translateX(0) !important;
        }
    }

    .sidebar-menu{
        background: #fff;
        position: relative;
        height: 100%;
        max-width: 411px;
        padding: 10px;
        overflow: hidden;
        transition: 0.5s ease all;
        transform: translateX(-110%);

        &.is-right{
            margin: 0 0 0 auto;
            transform: translateX(110%);
        }

        .inner{
            height: 100%;
            padding: 30px;
            overflow-x: hidden;
        }

        .top{
            list-style-type: none;
            margin: -21px 0 0 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 41px;

            .close{
                font-size: 25px;
                cursor: pointer;
                text-indent: 999px;
                width: 21px;
                height: 21px;
                line-height: 21px;
                text-align: center;
                background: transparent url(../img/icn-close.svg) no-repeat center;
                background-size: 100%;
                overflow: hidden;
            }
        }
    }

    &.main-menu{
        .sidebar-menu{
            max-width: 705px;
            padding-left: 70px;
            
            .top{
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .header-nav{
                margin-bottom: 85px;
                ul{
                    li{
                        a{
                            font-size: 32px;
                            font-weight: 300;
                            color: $color-primary;
                            padding: 12px 0;
                        }
                    }
                }
            }

            .contact-info{
                li{
                    margin-bottom: 20px;

                    &.pin{
                        display: none;
                    }
                }
            }
        }
    }

    &.account-settings{
        .tabs{
            display: flex;
            justify-content: space-around;
            border-width: 0;
            margin-bottom: 39px;

            &:before, &:after{
                display: none;
            }

            li{
                float: none;

                a{
                    font-size: 16px;
                    text-align: center;
                    color: $color-dark;
                    background-color: transparent;
                    padding: 0;
                    position: relative;
                    outline: none;

                    &:before{
                        content: '';
                        width: 100%;
                        height: 0;
                        border-bottom: 3px solid $color-dark;
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        display: none;
                    }
                }

                &.is-active{
                    a{
                        &:before{
                            display: block;
                        }
                    }
                }

            }
        }

        .tabs-content{
            border-width: 0;

            .tabs-panel{
                padding: 0;
            }
        }

        .login-form{
            margin-top: 30px;

            input[type=text], input[type=password]{
                box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.13);
            }
        }

        .forgot-pass{
            font-size: 14px;
            text-align: center;
            color: $color-dark;

            a{
                color: $color-dark;
            }
        }
    }

    &.mini-cart-settings{
        .cart-count{
            font-size: 16px;
            color: $color-dark;
        }

        .mini-cart-empty{
            text-align: center;
            margin-top: 70%;
            margin-bottom: 30%;
        }
        .mini-cart-empty-message{
            font-size: 14px;
            color: #b0b0b0;
            position: relative;
            z-index: 1;

            &:before{
                content: '';
                width: calc(100% + 60px);
                height: 0;
                border-top: 1px solid #b0b0b0;
                display: block;
                opacity: 0.5;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
            }

            span{
                display: inline-block;
                padding: 5px 10px;
                background: #fff;
            }
        }

        .mini-cart-summary{
            text-align: center;

            .total-price{
                padding-bottom: 4px;
                border-bottom: 1px solid $color-dark;
                margin-bottom: 15px;

                label{
                    font-size: 14px;
                    color: #141821;
                }

                .price{
                    font-family: 'Oswald', sans-serif;
                    font-size: 30px;
                    color: $color-dark;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $color-dark;

                    sup{
                        color: #858997;
                    }
                }
            }

            .cards{
                list-style-type: none;
                margin: 0 0 19px 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                
                li{
                    margin-right: 15px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }


    @include media(max-width, 1023px){
        &.main-menu{
            .sidebar-menu{
                max-width: 640px;
                padding-left: 20px;
            
                .top{
                    margin-top: 0px;
                    margin-bottom: 30px;
                }

                .header-nav{
                    ul{
                        li{
                            a{
                                font-size: 24px;
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @include media(max-width, 639px){
        &.main-menu{
            .sidebar-menu{
                padding-left: 0;
            
                .top{
                    margin-top: 0px;
                    margin-bottom: 20px;
                }

                .header-nav{
                    ul{
                        li{
                            a{
                                font-size: 21px;
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}